/* Criando tipos de estilos para comandos do HTML5*/

body {
    background-color:#f8f9fa;
}

p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(25, 23, 47);
}

h1 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(25, 23, 47);
}

.frase {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(25, 23, 47);
}


/* criando classes para BootStrap */
.navbar{
    background-color: rgb(255,114,0)!important;
}

.text-navbar{
    color:#f8f9fa!important;
}

.text-navbar a{
    color:#f8f9fa!important;
    text-decoration: none;
}

.text-navbar a:hover{
    color:#f8f9fa!important;
    text-decoration: none;
}

.card-header.dash {
    background-color: #efefef;
    color: rgb(255,114,0);
}

#tabela tbody{
    background-color: white;
}

.pag-header{
    background-color: #004990;
    color:#fde100;
    border-radius: .25rem!important;
}

.login-form{
    background-color: #efefef;
    border-radius: .25rem!important;
}

.btn-login {
    background-color: #004990;
    color:white;
    font-weight: 300;
}

.btn-login:hover {
    background-color: #0054a8;
    color:white;
    font-weight: 300;
}

