/* Criando tipos de estilos para comandos do HTML5*/

body {
    background-color:#f8f9fa;
}

p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(25, 23, 47);
}

h1 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(25, 23, 47);
}

.frase {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(25, 23, 47);
}


/* criando classes para BootStrap */
.navbar{
    background-color: #ffad31!important;
}

.text-navbar{
    color:#f8f9fa!important;
}